
form {
  padding-top: 24px;
  padding-bottom: 24px;
}

button {
  background-image: linear-gradient(
    to bottom,
    rgba(90, 90, 210, 0.6),
    rgba(90, 90, 210, 0.9)
  );
}

button:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(90, 90, 210, 0.8),
    rgb(90, 90, 210)
  );
}


.link a {
  font-size: 13px;
  opacity: 0.85;
}


input[type="date"] {
  padding-left: 10px;
}

input{
    padding-left: 10px;
}
